In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-01-29 21:14:55,-23.1203,-134.9692,77.32,73,100,10.71
1,1,Salalah,OM,2022-01-29 21:11:58,17.0151,54.0924,71.69,73,0,1.14
2,2,Busselton,AU,2022-01-29 21:14:55,-33.6500,115.3333,67.05,91,5,14.34
3,3,Fallon,US,2022-01-29 21:14:55,39.4735,-118.7774,45.43,32,40,3.44
4,4,Kandrian,PG,2022-01-29 21:14:56,-6.2167,149.5500,78.89,85,98,8.43

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-01-29 21:14:55,-23.1203,-134.9692,77.32,73,100,10.71
4,4,Kandrian,PG,2022-01-29 21:14:56,-6.2167,149.5500,78.89,85,98,8.43
10,10,Alugan,PH,2022-01-29 21:14:57,12.2188,125.4808,77.40,89,54,5.23
13,13,Mar Del Plata,AR,2022-01-29 21:10:05,-38.0023,-57.5575,84.22,90,0,18.01
14,14,Hilo,US,2022-01-29 21:14:57,19.7297,-155.0900,78.53,54,20,8.05
16,16,Mayumba,GA,2022-01-29 21:14:58,-3.4320,10.6554,77.54,90,72,3.20
17,17,Puerto Ayora,EC,2022-01-29 21:13:21,-0.7393,-90.3518,82.36,71,28,9.35
19,19,Acapulco,MX,2022-01-29 21:14:59,16.8634,-99.8901,84.02,65,20,9.22
32,32,Bambous Virieux,MU,2022-01-29 21:10:17,-20.3428,57.7575,79.21,70,99,13.65
37,37,Saint-Philippe,RE,2022-01-29 21:12:18,-21.3585,55.7679,76.59,85,55,9.06

In [13]:
preferred_cities_df.count()

City_ID       161
City          161
Country       160
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     77.32 -23.1203 -134.9692
4          Kandrian      PG     78.89  -6.2167  149.5500
10           Alugan      PH     77.40  12.2188  125.4808
13    Mar Del Plata      AR     84.22 -38.0023  -57.5575
14             Hilo      US     78.53  19.7297 -155.0900
16          Mayumba      GA     77.54  -3.4320   10.6554
17     Puerto Ayora      EC     82.36  -0.7393  -90.3518
19         Acapulco      MX     84.02  16.8634  -99.8901
32  Bambous Virieux      MU     79.21 -20.3428   57.7575
37   Saint-Philippe      RE     76.59 -21.3585   55.7679

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.32,-23.1203,-134.9692,People ThankYou
4,Kandrian,PG,78.89,-6.2167,149.5500,Kandrian Station
10,Alugan,PH,77.40,12.2188,125.4808,JM Lodge
13,Mar Del Plata,AR,84.22,-38.0023,-57.5575,Gran Hotel Mar del Plata
14,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Mayumba,GA,77.54,-3.4320,10.6554,LIKWALE LODGE
17,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Acapulco,MX,84.02,16.8634,-99.8901,HS Hotsson Smart Acapulco
32,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
37,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]